header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bosch-white);
  color: var(--bosch-black);
  position: relative;
  height: 3rem;
  border-bottom: 1px solid var(--bosch-gray-90);

  .header-title {
    font-size: 1.25rem;
    font-weight: 700;
    padding-left: 2rem;
  }

  .header-button {
    background: none;
    border: none;
    cursor: pointer;
    align-items: center;
    color: var(--neutral__enabled__front__default);
    display: inline-flex;
    height: 3rem;
    justify-content: center;
    width: 3rem;

    &:focus:not(:focus-visible) {
      outline: none;
    }

    &:focus-visible {
      outline: 3px solid var(--plain__enabled__front__default);
      outline-offset: -3px;
      position: relative;
      --focus-border-radius: 0px;
    }
  }

  .header-content {
    display: flex;
    align-items: center;
  }

  .bosch-logo-container {
    display: flex;
    width: 8.75rem;
    height: 3rem;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
    }
  }
}
