.nav-item {
  height: 48px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  color: var(--bosch-white); 
  white-space: nowrap;

  &:hover {
    background-color: var(--bosch-gray-30);
    color: var(--bosch-white);
  }

  .icon{
    font-size: 24px;
  }
}

.nav-item.selected {
  background-color: var(--bosch-white);
  color: var(--bosch-black);

  &:hover {
    background-color: var(--bosch-gray-90);
  }
}
